PORT=5000

MONGO_URI=mongodb+srv://mayur192:Palvemayur192@privsyncro.nvb7qhl.mongodb.net/privsyncro?retryWrites=true&w=majority

JWT_SECRET=replace-with-a-strong-secret
FRONTEND_BASE_URL=http://localhost:5173

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:5000/api/integrations/callback/spotify

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/api/integrations/callback/google

INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URI=http://localhost:5000/api/integrations/callback/instagram

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=http://localhost:5000/api/integrations/callback/facebook

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URI=http://localhost:5000/api/integrations/callback/twitter

X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=http://localhost:5000/api/integrations/callback/x
